extends layout

block content
	h1= title
	p Bienvenido #{usuario}
	h2 Listado de usuarios
	if(usuarios)
		each u in usuarios
			if(usuario != u.usuario)
				p #{u.usuario}
	form(action='/salir', method='post')
		input(type='submit', value='Salir')