body
  padding: 50px
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#nuevotema textarea
	width 40%
	height 150px

#notificaciones
	position fixed
	botom 0
	right 0
	display:none
	background #eee
	transition 1s ease all
	-webkit-transition 1s ease all

.tema
	background #eee
	color #333
	width 40%

.tema .t, .mensaje .m
	display inline-block
	font-weight bold
	width 85%

.tema .u, .mensaje .mu
	display inline-block
	font-size 0.8
	width 14%

.contestaciones
	display none
	transition 0.5s all ease

.contestaciones textarea
	width 85%
	
.mensajes
	width 80%
	margin 0.2em auto
	

.mensaje
	background #ddd
	margin 0.2em 0
	padding 0.2em

