extends layout

block content
	h1= title
	p Gracias a socket io se puede realizar un chat como el que podéis probar a continuación, abre dos navegadores y empieza a escribir.
	section#mensajes
	#form
		form(method='post', action='/newPost')
			b autor
			br
			input(type='text', name='autor', id='autor')
			br
			b comentario
			br
			textarea(name='comentario', id='comentario')
			br
			input(type='button', value='enviar', id='enviar')
